<h1>Edit Post!</h1>

<form action="/posts/<%= post.id %>?_method=PUT" method="POST">
  <div><input type="text" name="post[title]" placeholder="Title" value="<%= post.title %>" /></div>
  <div><input type="text" name="post[price]" placeholder="Price" value="<%= post.price %>" /></div>
  <div>
    <input type="file" id="imageUpload" accept="images/*" name="images" multiple />
    <div>
      <% post.images.forEach(function(image, i) { %>
        <img src="<%= image.url %>" alt="" width="100px">
        <label for="image<%= i %>">Delete?</label>
        <input type="checkbox" name="deleteImage" class="imageDeleteCheckbox" id="image<%= i %>" value="<%= image.public_id %>">
      <% }); %>
    </div>
  </div>
  <div><textarea name="post[description]" placeholder="Description"><%= post.description %></textarea></div>
  <div><input type="text" name="post[location]" placeholder="Location" value="<%= post.location %>" /></div>

  <div><input type="submit" /></div>
</form>

<script>

</script>
