<h1>Posts Index!</h1>

<% posts.forEach(function(post) { %>
<div>
  <h2><%= post.title %></h2>
  <div>Price: <%= post.price %></div>
  <div><%= post.description %></div>
  <div><%= post.location %></div>
</div>
<% }); %>
