<h1>New Post!</h1>

<form action="/posts" method="POST">
  <div><input type="text" name="title" placeholder="Title" /></div>
  <div><input type="text" name="price" placeholder="Price" /></div>
  <div><textarea name="" name="description" placeholder="Description"></textarea></div>
  <div><input type="text" name="location" placeholder="Location" /></div>

  <div><input type="submit" /></div>
</form>
