<h1>New Post!</h1>

<form action="/posts" method="POST">
    
  <input type="text" name="title" placeholder="Title" />
  <input type="text" name="price" placeholder="Price" />
  <textarea name="" name="description" placeholder="Description"></textarea>
  <input type="text" name="location" placeholder="Location" />

  <input type="submit" />
</form>
